.landing-block {
    position: absolute;
    margin: 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .landing-links {
    width: 100%;
    text-align: center;
  }
  form {
    margin: 20px;
  }
  button {
    font-size: 18px;
    border-radius: 8px;
  }
  .divImg{
    width: 800px;
    border-radius: 20px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }